.server {
    height: 62px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    transition: 0.3s ease;
} .server:hover {
      transform: scale(1.01);
  }
.server:hover > .loading {
    background-color: #99da02;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.description p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    width: 170px;
}

.loading {
    width: 22px;
    height: 22px;
    border: 10px solid #99da02;
    border-radius: 50%;
    transition: 0.4s ease;
}