.server_banner {
    width: 100%;
    height: 400px;
}

.server_info {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-around;
}

.server_info div {
    color: #ffffff;
    box-shadow: inset 0 0 80px rgba(0, 0, 0);
    width: 150px;
    height: 100px;
    background-color: rgba(254, 92, 114, 1);
    border-radius: 10px;
    padding: 10px;
}