.main {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.together_part {
    width: 1110px;
    gap: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
    }

    .together_part {
        max-width: 100%;
        flex-wrap: wrap;
    }
}